<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find rbn100_description)/urdf/rbn100.xacro" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(find rbn100_gazebo)/worlds/hotel_elevator.world" />
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <!-- Notifies ROS to use published /clock topic for ROS time. -->
    <arg name="use_sim_time" value="true"/>
    <arg name="recording" value="false"/>
  </include>
  <!-- <node name="tf_footprint_base" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint" /> -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -model rbn100 -param robot_description -x 2 -y 15 -z 0.15 -R 0 -P 0 -Y -1.570796" output="screen" />
  <!-- 转换urdf深度相机坐标系和kinect插件的坐标关系 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 -1.57 0 -1.57 /tof /kinect"/>
</launch>